html,body,#root{
    height: 100%;
}
.container{
    /* background: red; */
    height: 100%;
    display: grid;
    grid-template-rows: 50px auto 50px;
}
.header{
    /* background: blue; */
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 10px -15px #111;
    padding-left: 50px;
    padding-right: 50px;
}
.content{
    /* background-image: url('C:\Users\Shanky\Desktop\resume_builder\src\images\wallpaperflare.com_wallpaper (4).jpg'); */
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, #8f94fb, #4e54c8);  
 
}
.footer{
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    height:50px;
}