html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* background-image: url('https://media.istockphoto.com/vectors/abstract-blurred-colorful-background-vector-id1248542684?k=20&m=1248542684&s=612x612&w=0&h=1yKiRrtPhiqUJXS_yJDwMGVHVkYRk2pJX4PG3TT4ZYM='); */

}
/* the body conatiner */
.Container {
  height: 95%;
  width: 100%;

  display: flex;
  /* align-items: center; */
  justify-content: center;

}

/* form inside a coantiner as parent to all divs */
#contact_frm {
  width: 30vw;
  padding: 10px;
  height:100%;
  min-height: 95%;
  margin-top: 0;

}
form:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: all 0.5s;
  border-radius: 10%;
  
}
/* work experience and smalll heading */
.heading{
  padding-top:4px;
  margin-left: 65px;
  display:flex-box;
  /* align-self: center; */
  
}


/* form group in rows and coulms divsions */

input[type = "text"] {
  width: 27vw;
  padding: 8px;
  border-radius:5px;
  font-weight: bold;
  margin-top: 5px;
}
input:hover{
  border: 2px solid green;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(175, 70, 70, 0.23);
}


button{
  padding-top:10px;
  margin-left: 60px;
  width: 20vw;
  font-size: 1.5rem;
  background-color: rgb(27, 155, 148);
  
}
#btn{
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all .5s;
  margin-top: 10px;
}


#btn:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(175, 70, 70, 0.23);
  color: #212121;

}


.back_link:hover {
  font-size: 1.3rem;
  color: goldenrod;
  transition: all .1s;
}
.back_link {
  margin-left: 13vw;
  margin-top: 10px;
}